{# empty Twig template #}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ app.request.basePath }}/../style/EasyFood.css">
<title>
    {% block title %}
    {% endblock %}
</title>
<body>
    <style>
    </style>

    <nav class="navbar navbar-expand-lg navbar-light  primaryBackground">
        <a class="navbar-brand navColor d-flex align-items-center" href="#" style="color:#fff;">
            <img src="{{ app.request.basePath }}/../public/element/logoprincipal.svg" width="55" height="55" class="d-inline-block align-top" alt="">
            EasyFood
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="navbar-brand d-flex align-items-center" href="{{ path('home_client')}}" style="color:#fff;">
                        <img src="{{ app.request.basePath }}/../public/element/home.svg" width="55" height="55" class="d-inline-block align-top marginR" alt="">
                        Home<span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="navbar-brand d-flex align-items-center" href="{{ path('liste_restaurant_client')}}" style="color:#fff;">
                        <img src="{{ app.request.basePath }}/../public/element/restaurant.svg" width="55" height="55" class="d-inline-block align-top marginR" alt="">
                        Restaurants
                    </a>
                </li>
                <li class="nav-item">
                    <a class="navbar-brand d-flex align-items-center" href="{{ path('consulter_commande')}}" style="color:#fff; position: relative;">
                        <img src="{{ app.request.basePath }}/../public/element/foodBag.svg" width="55" height="55" class="d-inline-block align-top marginR" alt="">
                        {% if app.session.get("platCommande") is not null %}
                            <div id="cartItemCount" class="cart-item-count">{{ app.session.get('platCommande')|length}}</div>
                        {% endif %}
                    </a>
                </li>
            </ul>
        </div>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <form class="d-flex align-items-center searchBar" role="search">
                        <input class="form-control me-2" type="search" placeholder="Rechercher un restaurant" aria-label="Search">
                        <a href="#" style="margin-left:0.5rem"><img src="{{ app.request.basePath }}/../public/element/search.svg" width="55" height="55"></a>
                    </form>
                </li>
                
                <a class="navbar-brand d-flex align-items-center deconnexion" href="{{ path("profil_client") }}" style="color:#fff;">
                        <img src="{{ app.request.basePath }}/../public/element/logout.svg" width="55" height="55" class="d-inline-block align-top marginR" alt="">
                        Mon profil
                    </a>
                
                <li class="nav-item">
                    <a class="navbar-brand d-flex align-items-center deconnexion" href="{{ path("app_logout") }}" style="color:#fff;">
                        <img src="{{ app.request.basePath }}/../public/element/logout.svg" width="55" height="55" class="d-inline-block align-top marginR" alt="">
                        Déconnexion
                    </a>
                </li>
            </ul>
        </div>


</nav>
                        
    {% block body %}
    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>  
</body>
